body { 
    background-color: black;
}
#title {
    margin-top: 20px;
    color: red;
}
#canvas {
    margin-top: 20px;
}
#info {
    color: #fff;
}
input[type=range] {
    width: 400px;
    margin-top: 10px;
}